<h1 align='center'>Reciprocal Method<h1/>

A company has two service departments and two producing departments. The two service departments provide service not only to two producing departments but also one another. The costs of four departments and relationship among them is shown below:

|Department|Departmental Overhead bef. Distribution|Dept. Y|Dept. Z|
|:-|-:|-:|-:|
|Producing dept. A|12,000|40%|20%|
|Producing dept. B|16,000|40%|50%|
|Service dept. Y|7,260||30%|
|Service dept. Z|4,000|20%||
|Total dept. overhead|39,260|100%|100%|
<!-- <img src='https://www.accountingformanagement.org/wp-content/uploads/2018/06/reciprocal-method-of-cost-allocation-img1.png'> -->

Required: Allocate the cost of service departments to producing departments using reciprocal/algebraic method.

Solution
Let:

**Y = $7,260 + 0.3Z —— Eq.1**

**Z = $4,000 + 0.2Y —— Eq.2**

Substituting the value of Z in equation 1:

Y = $7,260 + 0.3($4,000 + 0.2Y)

Y = $7,260 + $600 + 0.06Y

Y – 0.06Y = $7,260 + $1,200

0.94Y = $8,460

Y = $8,460/0.94

Y = $9,000

Substituting the value of Y in equation 2:

Z = $4,000 + 0.2(9,000)

Z = $4,000 + $1,800

Z = $5,800

Distribution summary:

<!-- <img src='https://www.accountingformanagement.org/wp-content/uploads/2018/03/reciprocal-method-of-cost-allocation-img2.png'> -->

||Dept. A|Dept. B|Dept. Y|Dept. Z|Total|
|:-|-:|-:|-:|-:|-:|
|Departmental overhead bef. allocation|12,000|16,000|7,260|4,000|39,260|
|Allocation:||||||
|Department Y (40%, 40%, 20%)|3,600|3,600|(9,000)|1,800| |
|Department Z (20%, 50%, 30%)|1,160|2,900|1,740|(5,800)| |
|Total departmental overhead|16,760|22,500|0|0|39,260|

In [2]:
import pandas as pd
import numpy as np

In [3]:
p_a = 12000
p_b = 16000
s_y = 7260
s_z = 4000
s_y_ratio = [0.4,0.4,0,0.2]
s_z_ratio = [0.2,0.5,0.3,0]
x = 0

### 1. Manual method by defining a function to calculate cost allocation.

In [4]:
def manual_allocation(y_val, z_val, y_ratio, z_ratio):
    x = 0
    df = pd.DataFrame(columns=['col1','col2','col3','col4'])
    temp_y = 0
    temp_z = 0

    while (y_val>0 or z_val>0):
        if [y_val * r for r in y_ratio][3]<0:
            y_val = 0
        else:
            df.loc[len(df)] = [y_val * r for r in y_ratio]
            temp_z = df.loc[len(df)-1][3]
        if [z_val * r for r in z_ratio][2]<0:
            z_val = 0
        else:
            df.loc[len(df)] = [z_val * r for r in z_ratio]
            temp_y = df.loc[len(df)-1][2]
        y_val = temp_y
        z_val = temp_z
        x += 1
    return x, np.round(df.sum(), 0).tolist()

In [5]:
df = pd.DataFrame({'Dept. A':[p_a], 'Dept. B':[p_b], 'Service Y':[s_y], 'Service Z':[s_z]})
x, df.loc[len(df)] = manual_allocation(s_y, s_z, s_y_ratio, s_z_ratio)
print('Result')
df

Result

   Dept. A  Dept. B  Service Y  Service Z
0  12000.0  16000.0     7260.0     4000.0
1   4760.0   6500.0     1740.0     1800.0

In [6]:
print('A manual calculation requires {} iterations for allocation of {} & {}'.format(x, s_y, s_z))

A manual calculation requires 537 iterations for allocation of 7260 & 4000

### 2. Using reciprocal method to calculate cost allocation

In [7]:
def reciprocal_allocation(y_val, z_val, y_ratio, z_ratio):
    x = 0
    temp_y = 0
    temp_z = 0
    #solving equation Y = y + y_perc*Z
    #in writing notation: Y = 
    temp_y = (y_val + z_ratio[2]*z_val) / (1-z_ratio[2]*y_ratio[3])
    
    #solving equation Z = z + z_perc*Y
    temp_z = z_val + y_ratio[3]*temp_y
    
    df = pd.DataFrame(columns=['col1','col2','col3','col4'])
    df.loc[len(df)] = [temp_y * r for r in y_ratio]
    df.loc[len(df)] = [temp_z * r for r in z_ratio]
    x += 1
    return x, df.sum().tolist()

In [8]:
df = pd.DataFrame({'Dept. A':[p_a], 'Dept. B':[p_b], 'Service Y':[s_y], 'Service Z':[s_z]})
x, df.loc[len(df)] = reciprocal_allocation(s_y, s_z, s_y_ratio, s_z_ratio)
print('Result')
df

Result

   Dept. A  Dept. B  Service Y  Service Z
0  12000.0  16000.0     7260.0     4000.0
1   4760.0   6500.0     1740.0     1800.0

In [9]:
print('A reciprocal method requires {} iteration for allocation of {} & {}'.format(x, s_y, s_z))

A reciprocal method requires 1 iteration for allocation of 7260 & 4000